/* center loading gif and make it the top of the display */
#loading {
    position: absolute;
    z-index: 99999;
    vertical-align: middle;
    display: none;
    width: 128px;
    height: 78px;
    border: none;
} 

#error-msg {
	display: none;
}

#results {
	display: none;
}

a {
	color: #d9534f
}

a:hover {
	color: #d2322d
}

body {
    background-color: #333;
}

label {
    color : #999;
}

.box {
    border-radius: 2px;
    height : 16px;
    width : 16px;
    display: inline-block;
}

.box1 {
    background-color: #d9534f;
}

.box2 {
    margin-left: 20px;
    background-color: #E0E4CC;
}

.legend {
    margin-top: 20px;
}

.legend > span {
    vertical-align: middle;
}

.canvas {
    max-width: 100%;
    height: auto;
}